{% extends "base.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/calendrier.css" />
{% endblock %}
{% block content %}
<iframe src="https://www.google.com/calendar/embed?showTz=0&amp;height=600&amp;wkst=2&amp;hl=fr&amp;bgcolor=%23FFFFFF&amp;src=54mf4uinuiefemd4tqjq87rrd8%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FParis" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}

