{% extends "home/textes.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/textes.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/droits_obligations.css" />
{% endblock %}
{% block content %}

<h3>Art. L.6222-34 (code du travail).</h3>
<h4>L'apprenti s'engage à :</h4>
<p>
- travailler pour l'employeur pendant la durée du contrat;<br/>
- suivre la formation assurée par le CFA et en entreprise;<br/>
- respecter les règlements du CFA et de l'entreprise;<br/>
- se présenter aux épreuves du diplôme ou du titre prévu par le contrat;<br/>
- effectuer avant l'embauche une visite médicale (médecin du travail). L'avis du médecin est joint au contrat d'apprentissage lors de son enregistrement à l’inspection du travail.<br/><br/>
L'apprenti âgé de 18 ans et plus est soumis à l’horaire de travail applicable dans l'entreprise. Les heures passées au centre de formation sont comprises dans le temps de travail .
</p>
{% endblock %}

