{% extends "home/textes.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/textes.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mission_tuteur_ufa.css" />
{% endblock %}
{% block content %}
<h3>Assurer le bon déroulement du contrat de formation</h3>
<h4>Rencontrer le maître d'apprentissage (sur lieu de travail).</h4>
<p>L'objet de cette première rencontre est de poser une relation de confiance, d'évaluer les premières semaines de travail de l'apprenti, 
d'éclairer le maître d'apprentissage sur son rôle pédagogique, ainsi que de lui expliquer le fonctionnement de ce site.</p>
<h4>Faire un point régulier avec le maître d'apprentissage sur l'insertion de l'apprenti et sur le déroulement de la mission.</h4>

{% endblock %}

