{% extends "home/textes.html" %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/textes.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mission_tuteur_entreprise.css" />
{% endblock %}
{% block content %}
<h3>Être le responsable de la formation en entreprise.</h3>
<h4>Il accueille l'étudiant dans le service et lui facilite son insertion en tant que salarié à part entière.</h4>
<h4>Il organise son travail :</h4>
<p>- définit les activités et les tâches qui sont confiées à l'apprenti ;</p>
<p>- identifie les objectifs à atteindre en concertation avec le tuteur ;</p>
<p>- planifie son travail ;</p>
<p>- aide l'apprenti à identifier et à prendre conscience des apports en compétences nécessaires.</p>
<h4>Il évalue les résultats :</h4>
<p>- observe les méthodes de travail et les savoir-faire de l'apprenti ;</p>
<p>- communique les résultats de son observation afin d'apporter des modifications et des améliorations
et de définir un axe de progrès ;</p>
<p>- identifie les difficultés éventuelles, en recherche les causes et livre son analyse à l'apprenti.</p>

{% endblock %}

